In [6]:
!pip install cplex
!pip install docplex
import sys
from docplex.cp.model import *
import pandas as pd
import random

Requirement already satisfied: cplex in c:\users\nexen\appdata\local\programs\python\python310\lib\site-packages (22.1.0.0)
Requirement already satisfied: docplex in c:\users\nexen\appdata\local\programs\python\python310\lib\site-packages (2.23.222)
Requirement already satisfied: six in c:\users\nexen\appdata\local\programs\python\python310\lib\site-packages (from docplex) (1.16.0)

In [54]:
#dataframe of actually every course at IIT fall 2022
df = pd.read_csv("CourseStatusReport--2022-04-16.csv")
df = df.drop(columns=["Status", "Cross List Code", "College", "Department", "Schedule Type", "Max Enrollment", "Current Enrollment", "Enrollment Available", "Waitlist Count", "Campus", "Location", "Seating", "Dates"])
df.head()

,CRN,Course Code,Course Subject,Course Number,Course Title,Credits,Days,Time,Primary Instructor,Secondary Instructors
0,11875,AAH 119-01,AAH,119,Hist of World Architecture I,3.0,MW,1125 - 1215,"Hazard, Erin",NaN
1,11876,AAH 119-D01,AAH,119,Discussion,0.0,M,0900 - 0950,NaN,NaN
2,11877,AAH 119-D02,AAH,119,Discussion,0.0,M,1000 - 1050,NaN,NaN
3,11878,AAH 119-D03,AAH,119,Discussion,0.0,M,1000 - 1050,NaN,NaN
4,11879,AAH 119-D04,AAH,119,Discussion,0.0,W,0900 - 0950,NaN,NaN

In [55]:
random.seed(2022)
df["Course Quality"]=[random.randrange(5) for i in range(len(df))]
df["Professor Difficulty"]=[random.randrange(5) for i in range(len(df))]

In [56]:
df["ID"] = range(len(df))

In [57]:
model=CpoModel()

In [58]:
#creating binary vars for each class
classVariables=[]
for index, row in df.iterrows():
    classVariables.append(model.integer_var(min=0, max=1, name="id"+str(row['ID'])))    
    #print("crn"+str(row['CRN']))
df['Vars']=classVariables

In [59]:
#Course sections constraint
#Make a dictionary. Keys: Course subject course number touple. Values: variables
sections2 = {}
for idx, x in enumerate(df["Course Code"]): #List through all Course Codes. Consider the place before the hyphen on "Course Code"
    #print(x.split("-")[0])
    x = x.split("-")[0]
    if(x not in sections2):
        sections2[x] = [classVariables[idx]]
    else:
        sections2[x].append(classVariables[idx])
#For each key in the dictionary, add a constraint
# for coursecode in sections2:
#     #For each constraint: the sum of all CRN's is equal to 1
#     allsectionssum = model.sum(1*(sections2[coursecode][i]) for i in range(len(sections2[coursecode])))
#     model.add_constraint(allsectionssum <= 1)
#     #print(allsectionssum)

In [60]:
#Course time slot constraints
#Make a dictionary. Keys: Course time slot. Values: ID's
timeslots = {}
for idx, x in enumerate(df["Time"]): #List through all Time slots"
    if((type(df["Days"][idx]))!=float):
        for char in (df["Days"][idx]):
            timeday = char+x
            if(timeday not in timeslots):
                timeslots[timeday] = [classVariables[idx]]
            else:
                timeslots[timeday].append(classVariables[idx])
#For each key in the dictionary, add a constraint
for timeslot in timeslots:
    #For each constraint: the sum of all CRN's is equal to 1
    alltimeslotssum = model.sum(1*(timeslots[timeslot][i]) for i in range(len(timeslots[timeslot])))
    model.add_constraint(alltimeslotssum <= 1)

In [61]:
# #Credit count: The sum of the credit count for all taken sections is less that 18 and bigger than 12
# creditCount = [0]*len(df)
# for i in range(len(df)):
#     creditCount[i]=df["Credits"][i]
# creditCount[:5]

In [62]:
required_classes=[]
mincredits = int(input("Enter a min credits you need to take "))
maxcredits = int(input("Enter a max credits you need to take "))

Enter a min credits you need to take 12
Enter a max credits you need to take 18

In [63]:
allcreditcountsum = model.sum(df["Credits"][i] * df["Vars"][i] for i in range(len(df)))
model.add_constraint(allcreditcountsum <= maxcredits)
model.add_constraint(allcreditcountsum >= mincredits)

In [64]:
#observe that constraints were added
#model.print_information()

In [65]:
required_classes=[]
val="class"
val=input("Enter a course you need to take ")
while val.lower()!="exit":
    required_classes.append(val)
    val=input("Enter another course you need to take. \nType \"Exit\" to stop adding courses ")

Enter a course you need to take CS 100
Enter another course you need to take.
Type "Exit" to stop adding courses CS 201
Enter another course you need to take.
Type "Exit" to stop adding courses exit

In [66]:
requested_classes=[]
val="class"
val=input("Enter a course you want to take ")
while val.lower()!="exit":
    requested_classes.append(val)
    val=input("Enter another course you want to take. \nType \"Exit\" to stop adding courses ")

Enter a course you want to take CS 350
Enter another course you want to take.
Type "Exit" to stop adding courses MATH 151
Enter another course you want to take.
Type "Exit" to stop adding courses CHEM 124
Enter another course you want to take.
Type "Exit" to stop adding courses PHYS 123
Enter another course you want to take.
Type "Exit" to stop adding courses PSYC 303
Enter another course you want to take.
Type "Exit" to stop adding courses exit

In [67]:
#Seeing if coursecode keys are strings
#for coursecode in sections2:
 #   print(coursecode, " ", type(coursecode))

In [68]:
#Adding constraints for what courses to take, and identical course conflict avoidance
for coursecode in sections2:
    #For each constraint: the sum of all CRN's is equal to 1
    allsectionssum = model.sum(1*(sections2[coursecode][i]) for i in range(len(sections2[coursecode])))
    if(coursecode in required_classes):
        model.add_constraint(allsectionssum == 1)
    elif(coursecode in requested_classes):
        model.add_constraint(allsectionssum <= 1)
    else:
        model.add_constraint(allsectionssum == 0)

In [69]:
b = int(input("""Hypothetically, there's a 1/5 quality professor at a non-8:35 time slot. 
How good does the prof have to be (1-5) to justify moving to 8:35? """))
a = int(input("""For every 1 point increase in difficulty, how much better should a prof be to justify it? """))

Hypothetically, there's a 1/5 quality professor at a non-8:35 time slot.
How good does the prof have to be (1-5) to justify moving to 8:35? 2
For every 1 point increase in difficulty, how much better should a prof be to justify it? 1

In [70]:
#creating minimization function (course quality and prof difficulty)
min_func=0
for index, row in df.iterrows():
    min_func+=((a*(5-row['Course Quality']))+row['Professor Difficulty'])*row['Vars']
min_func

In [71]:
earlyClassPenalty = a*(b-1)
for index, row in df.iterrows():
    if(row["Time"]=="0835 - 0950"):
        min_func += (earlyClassPenalty * row['Vars'])

In [72]:
min_func=model.minimize(min_func)
model.add(min_func)

In [73]:
#observe that constraints were added
#model.print_information()

In [74]:
#solving model
sol2=model.solve()
#sol2.print_solution()

 ! --------------------------------------------------- CP Optimizer 22.1.0.0 --
 ! Minimization problem - 2619 variables, 1114 constraints
 ! Presolve      : 40 extractables eliminated
 ! Initial process time : 0.04s (0.04s extraction + 0.00s propagation)
 !  . Log search space  : 70.0 (before), 70.0 (after)
 !  . Memory usage      : 3.9 MB (before), 3.9 MB (after)
 ! Using parallel search with 16 workers.
 ! ----------------------------------------------------------------------------
 !          Best Branches  Non-fixed    W       Branch decision
                        0         70                 -
 + New bound is 0
                        0         70    1   F        -
 + New bound is 4
                       32         13    1   F     0 != id741
 + New bound is 5
 *            25       94  0.18s        1      (gap is 80.00%)
 *            22      211  0.18s        1      (gap is 77.27%)
 *            20      220  0.18s        1      (gap is 75.00%)
 *            18      438  0.18s        1      (gap is 72.22%)
 *            17      572  0.18s        1      (gap is 70.59%)
 *            16      601  0.18s        1      (gap is 68.75%)
 *            14      851  0.18s        1      (gap is 64.29%)
              14     1000          1    1         0  = id2285
              14     1000          1    2         0  = id2274
 *            13      494  0.18s        3      (gap is 61.54%)
 *            12      883  0.18s        3      (gap is 58.33%)
 *            10      920  0.18s        3      (gap is 50.00%)
              10     1000          1    3   F     0 != id2280
              10     1000          1    4         1  = id733
              10     1000          1    5         1 != id2272
              10     1000          1    6   F     0 != id592
              10     1000          1    7         0 != id746
 ! Time = 0.19s, Average fail depth = 35, Memory usage = 86.6 MB
 ! Current bound is 5 (gap is 50.00%)
 !          Best Branches  Non-fixed    W       Branch decision
              10     1000          4    8         0  = id1764
              10     1000          1    9   F     0 != id1759
              10     1000          1   10            -
              10     1000          1   11         1  = id748
              10     1000          1   12         1 != id591
              10     1000          1   13   F     0 != id588
              10     1000          1   14            -
              10     1000          1   15         0 != id2284
              10     1000          1   16   F     1  = id746
 *             9     1341  0.23s        1      (gap is 44.44%)
               9     1497          2    1            -
 + New bound is 9 (gap is 0.00%)
 ! ----------------------------------------------------------------------------
 ! Search completed, 11 solutions found.
 ! Best objective         : 9 (optimal - effective tol. is 0)
 ! Best bound             : 9
 ! ----------------------------------------------------------------------------
 ! Number of branches     : 29322
 ! Number of fails        : 12112
 ! Total memory usage     : 80.2 MB (79.6 MB CP Optimizer + 0.6 MB Concert)
 ! Time spent in solve    : 0.24s (0.20s engine + 0.04s extraction)
 ! Search speed (br. / s) : 148090.9
 ! ----------------------------------------------------------------------------

In [80]:
print("Here's your \"optimal\" schedule: ")
for index, row in df.iterrows():
    #print(sol2.get_value("id"+str(index)))
    if(sol2.get_value("id"+str(index))!=0):
        print(df["Course Code"][index], "on", df["Days"][index],"at", df["Time"][index])

Here's your "optimal" schedule:
CHEM 124-03 on TR at 1125 - 1240
CS 100-L05 on T at 1350 - 1505
CS 201-03 on nan at  -
MATH 151-05 on MWF at 1125 - 1240