In [1]:
pip install cplex
pip install docplex
import sys
from docplex.cp.model import *
import pandas as pd
import random

Requirement already satisfied: cplex in /Users/alishakhan/opt/miniconda3/envs/alishadev/lib/python3.9/site-packages (22.1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
#dataframe of actually every course at IIT fall 2022
df = pd.read_csv("CourseStatusReport--2022-04-16.csv")
df = df.drop(columns=["Status", "Cross List Code", "College", "Department", "Schedule Type", "Max Enrollment", "Current Enrollment", "Enrollment Available", "Waitlist Count", "Campus", "Location", "Seating", "Dates"])
df.head()

,CRN,Course Code,Course Subject,Course Number,Course Title,Credits,Days,Time,Primary Instructor,Secondary Instructors
0,11875,AAH 119-01,AAH,119,Hist of World Architecture I,3.0,MW,1125 - 1215,"Hazard, Erin",NaN
1,11876,AAH 119-D01,AAH,119,Discussion,0.0,M,0900 - 0950,NaN,NaN
2,11877,AAH 119-D02,AAH,119,Discussion,0.0,M,1000 - 1050,NaN,NaN
3,11878,AAH 119-D03,AAH,119,Discussion,0.0,M,1000 - 1050,NaN,NaN
4,11879,AAH 119-D04,AAH,119,Discussion,0.0,W,0900 - 0950,NaN,NaN

In [8]:
random.seed(2022)
df["Course Quality"]=[random.randrange(5) for i in range(len(df))]
df["Professor Difficulty"]=[random.randrange(5) for i in range(len(df))]

In [9]:
df["ID"] = range(len(df))

In [10]:
model=CpoModel()

In [11]:
#creating binary vars for each class
classVariables=[]
for index, row in df.iterrows():
    classVariables.append(model.integer_var(min=0, max=1, name="id"+str(row['ID'])))    
    #print("crn"+str(row['CRN']))
df['Vars']=classVariables

In [12]:
#Course sections constraint
#Make a dictionary. Keys: Course subject course number touple. Values: variables
sections2 = {}
for idx, x in enumerate(df["Course Code"]): #List through all Course Codes. Consider the place before the hyphen on "Course Code"
    #print(x.split("-")[0])
    x = x.split("-")[0]
    if(x not in sections2):
        sections2[x] = [classVariables[idx]]
    else:
        sections2[x].append(classVariables[idx])
#For each key in the dictionary, add a constraint
# for coursecode in sections2:
#     #For each constraint: the sum of all CRN's is equal to 1
#     allsectionssum = model.sum(1*(sections2[coursecode][i]) for i in range(len(sections2[coursecode])))
#     model.add_constraint(allsectionssum <= 1)
#     #print(allsectionssum)

In [13]:
#Course time slot constraints
#Make a dictionary. Keys: Course time slot. Values: ID's
timeslots = {}
for idx, x in enumerate(df["Time"]): #List through all Time slots"
    if((type(df["Days"][idx]))!=float):
        for char in (df["Days"][idx]):
            timeday = char+x
            if(timeday not in timeslots):
                timeslots[timeday] = [classVariables[idx]]
            else:
                timeslots[timeday].append(classVariables[idx])
#For each key in the dictionary, add a constraint
for timeslot in timeslots:
    #For each constraint: the sum of all CRN's is equal to 1
    alltimeslotssum = model.sum(1*(timeslots[timeslot][i]) for i in range(len(timeslots[timeslot])))
    model.add_constraint(alltimeslotssum <= 1)

In [14]:
# #Credit count: The sum of the credit count for all taken sections is less that 18 and bigger than 12
# creditCount = [0]*len(df)
# for i in range(len(df)):
#     creditCount[i]=df["Credits"][i]
# creditCount[:5]

In [15]:
allcreditcountsum = model.sum(df["Credits"][i] * df["Vars"][i] for i in range(len(df)))
model.add_constraint(allcreditcountsum <= 18)
model.add_constraint(allcreditcountsum >= 12)

In [16]:
#observe that constraints were added
#model.print_information()

In [17]:
required_classes=[]
val="class"
val=input("Enter a course you need to take ")
while val.lower()!="exit":
    required_classes.append(val)
    val=input("Enter another course you need to take. \nType \"Exit\" to stop adding courses ")

Enter a course you need to take CS 100
Enter another course you need to take.
Type "Exit" to stop adding courses CS 201
Enter another course you need to take.
Type "Exit" to stop adding courses EXIT

In [18]:
requested_classes=[]
val="class"
val=input("Enter a course you want to take ")
while val.lower()!="exit":
    requested_classes.append(val)
    val=input("Enter another course you want to take. \nType \"Exit\" to stop adding courses ")

Enter a course you want to take CS 350
Enter another course you want to take.
Type "Exit" to stop adding courses MATH 251
Enter another course you want to take.
Type "Exit" to stop adding courses PHYS 123
Enter another course you want to take.
Type "Exit" to stop adding courses CHEM 214
Enter another course you want to take.
Type "Exit" to stop adding courses PSYC 202
Enter another course you want to take.
Type "Exit" to stop adding courses EXIT

In [19]:
#Seeing if coursecode keys are strings
#for coursecode in sections2:
 #   print(coursecode, " ", type(coursecode))

In [20]:
#Adding constraints for what courses to take, and identical course conflict avoidance
for coursecode in sections2:
    #For each constraint: the sum of all CRN's is equal to 1
    allsectionssum = model.sum(1*(sections2[coursecode][i]) for i in range(len(sections2[coursecode])))
    if(coursecode in required_classes):
        model.add_constraint(allsectionssum == 1)
    elif(coursecode in requested_classes):
        model.add_constraint(allsectionssum <= 1)
    else:
        model.add_constraint(allsectionssum == 0)

In [21]:
#creating minimization function (course quality and prof difficulty)
min_func=0
for index, row in df.iterrows():
    min_func+=((5-row['Course Quality'])+row['Professor Difficulty'])*row['Vars']
min_func=model.minimize(min_func)
model.add(min_func)
min_func

In [22]:
#observe that constraints were added
#model.print_information()

In [23]:
#solving model
sol2=model.solve()
#sol2.print_solution()

 ! --------------------------------------------------- CP Optimizer 22.1.0.0 --
 ! Minimization problem - 2619 variables, 1114 constraints
 ! Presolve      : 32 extractables eliminated
 ! Initial process time : 0.07s (0.07s extraction + 0.00s propagation)
 !  . Log search space  : 56.0 (before), 56.0 (after)
 !  . Memory usage      : 3.9 MB (before), 3.9 MB (after)
 ! Using parallel search with 8 workers.
 ! ----------------------------------------------------------------------------
 !          Best Branches  Non-fixed    W       Branch decision
                        0         56                 -
 + New bound is 0
                        0         56    1   F        -
 + New bound is 4
                       24         12    1   F     0 != id733
 + New bound is 5
 *            19      202  0.13s        1      (gap is 73.68%)
 *            17      549  0.13s        1      (gap is 70.59%)
              17     1000          1    1         1 != id1796
 *            16      628  0.13s        2      (gap is 68.75%)
 *            14      740  0.14s        2      (gap is 64.29%)
 *            13      903  0.14s        2      (gap is 61.54%)
              13     1000          1    2         1 != id786
 *            12      261  0.14s        3      (gap is 58.33%)
              12     1000          1    3   F     1  = id769
              12     1000          1    4   F     0 != id2283
              12     1000          1    5         1 != id1795
              12     1000          2    6   F     1  = id2281
              12     1000          1    7         1  = id2286
              12     1000          1    8         0  = id748
 *            11     1403  0.19s        1      (gap is 54.55%)
              11     1483          2    1            -
 + New bound is 11 (gap is 0.00%)
 ! ----------------------------------------------------------------------------
 ! Search completed, 7 solutions found.
 ! Best objective         : 11 (optimal - effective tol. is 0)
 ! Best bound             : 11
 ! ----------------------------------------------------------------------------
 ! Number of branches     : 13348
 ! Number of fails        : 6196
 ! Total memory usage     : 45.6 MB (45.0 MB CP Optimizer + 0.6 MB Concert)
 ! Time spent in solve    : 0.19s (0.12s engine + 0.07s extraction)
 ! Search speed (br. / s) : 121345.3
 ! ----------------------------------------------------------------------------

In [24]:
for index, row in df.iterrows():
    #print(sol2.get_value("id"+str(index)))
    if(sol2.get_value("id"+str(index))!=0):
        print(df["Course Code"][index])

CS 100-L12
CS 201-03
MATH 251-01
PHYS 123-03